/* IMPORT FONT AND COLORS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;0,9..40,800;0,9..40,1000;1,9..40,400&display=swap');

/* SET GLOBAL VARIABLES */
:root {
    --card-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --content-background: #e2e8f0;
    --white: #f8fafc;
    --card-radius: 0.5rem;
    --slate: #1e293b;
    --font-dark: #0f172a;
    --font-light: #f1f5f9;
    --font-size: 16px;
}

/* RESET STYLE */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    border: none;
    transition: 0.5s;
}

body, .main {
    height: 100vh;
    color: var(--font-dark);
    font-size: var(--font-size);
    font-family: 'DM Sans', sans-serif;
    background-color: var(--content-background);
}

/* SET MAIN LAYOUT */

.main {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--slate);
    color: var(--font-light);

    img {
      width: 2rem;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30vh, 1fr));
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 2rem;
}

.book-card {
    background-color: var(--white);
    color: var(--font-dark);
    box-shadow: var(--card-shadow);
    border-radius: var(--card-radius);
    padding: 0.5rem 0.5rem;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    span {
      font-weight: bold;
    }
}

.read,
.not-read {
  border-radius: 5px;
  padding: 1rem;
}

.read {
  background-color: seagreen;
}

.read:hover,
.read:active {
  opacity: 0.5;
}

/* NO BOOK TEXT */
.no-books {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-books p {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.no-books p:hover {
  color: var(--slate);
  text-decoration: none;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 0.5rem;
  }
}

/* DIALOG BOX*/
::backdrop {
    background-color: black;
    opacity: 0.50;
}

dialog {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    padding: 2rem;
    border-radius: 10px;
  }

.dialog-wrapper {
    display: flex;
    flex-flow: column nowrap;

    gap: 1rem;

    h2 {
        margin-bottom: 1rem;
    }

    .input-container {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .input-btn {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 2rem;
    }
}

select {
    text-align: center;
    padding: 0 1rem;
}

/* BUTTON STYLING */

#addBook-btn {
    position: absolute;
    left: 85%;
}

.btn {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;

    transition: inherit;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.btn:active {
  opacity: .5;
  transition: opacity 0.1s;
}

#addBook-btn:hover,
#addBook-btn:active {
  padding-left: 2rem;
}

#addBook-btn::before {
  font-size: calc(var(--font-size)*1.2);
  content: '+';
  position: absolute;
  right: 80%;
  opacity: 0;
  transition: opacity 0.3s;
}


#addBook-btn:hover::before,
#addBook-btn:active::before {
  opacity: 1;
}

.sm-btn {
    display: inline-block;
    font-size: 10px;
    font-weight: 800;
    line-height: 0;
    min-height: 24px;
    outline: 0;
    padding: 3px 4px;
}

.delBtn {
  background-color: inherit;
  color: var(--font-dark);
}

.delBtn span:hover,
.delBtn span:active {
  transform: scale(1.2);
  transition: transform inherit;
}